<h2>The GRBAS Scale</h2>

<ul>
  <li>
    <strong>G</strong> - Grade of Hoarseness - relating to overall level of disorder
  </li>
  <li>
    <strong>R</strong> - Roughness - irregularity in vocal vibrations, specific listening
  </li>
  <li>
    <strong>B</strong> - Breathiness - air leakage thru vocal folds, tend to sound like white noise
  </li>
  <li>
    <strong>A</strong> - Asthenia - weakness or lack of power
  </li>
  <li>
    <strong>S</strong> - Strain - throat constriction / tone can have high pitch features
  </li>
</ul>

<h3>About</h3>
<pre>
      GRBAS is a perceptual scale that can be used to distinguish some voice
  characteristics. It is mainly used to train the ear to distinguish the
  severity of certain characteristics within the voice ie how much
  strain or weakness is present in the voice. The numerical scale is
  set from 0 to 3. A 0 should represent a normal voice (lack of disorder),
  a 1 is mildly disordered, 2 is moderately disordered, and a 3 is severely disordered.

  This scale is not a complete evaluation or assessment of a patient's condition
  and is only intended for a more objective approach to listening for certain voice qualities.
</pre>

<h3>Sources and Credits</h3>
<p>
  Walden, Patrick R (2020), “Perceptual Voice Qualities Database (PVQD)”, Mendeley Data, v2,
  <a href="https://data.mendeley.com/datasets/9dz247gnyb/1">https://data.mendeley.com/datasets/9dz247gnyb/1</a>

</p>