body {
  padding-top: 20px;
}
.flash {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 20px;
}
.flash.notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.flash.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
nav {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
nav h1 {
  margin-bottom: 0;
}
nav a {
  color: grey;
  margin-right: 10px;
}
.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .btn {
  color: #f39c12; /* Light orange text color */
  border-color: #f39c12; /* Light orange border color */
}

.navbar-nav .btn:hover {
  color: #fff; /* White text color on hover */
  background-color: #f39c12; /* Light orange background color on hover */
  border-color: #f39c12; /* Light orange border color on hover */
}


.navbar-nav .nav-item:last-child {
  margin-right: 0;
}
